<h1>Listing profiles</h1>

<table class="details">
  <tr>
    <th>First name</th>
    <th>Mid name</th>
    <th>Last name</th>
    <th>Date of birth</th>
    <th>Gender</th>
    <th>Blood group</th>
    <th>Local address</th>
    <th>Permanent address</th>
    <th>Father name</th>
    <th>Mother name</th>
    <th>Guardian name</th>
    <th>Course name</th>
    <th>Sem of joining</th>
    <th>Email</th>
    <th>Github</th>
    <th>Linkedin</th>
    <th>Facebook</th>
    <th>Googleplus</th>
    <th>Twitter</th>
    <th>Blog</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @profiles.each do |profile| %>
  <tr>
    <td><%= profile.first_name %></td>
    <td><%= profile.mid_name %></td>
    <td><%= profile.last_name %></td>
    <td><%= profile.date_of_birth %></td>
    <td><%= profile.gender %></td>
    <td><%= profile.blood_group %></td>
    <td><%= profile.local_address %></td>
    <td><%= profile.permanent_address %></td>
    <td><%= profile.father_name %></td>
    <td><%= profile.mother_name %></td>
    <td><%= profile.guardian_name %></td>
    <td><%= profile.course_name %></td>
    <td><%= profile.sem_of_joining %></td>
    <td><%= profile.email %></td>
    <td><%= profile.github_id %></td>
    <td><%= profile.linkedin_id %></td>
    <td><%= profile.facebook_id %></td>
    <td><%= profile.googleplus_id %></td>
    <td><%= profile.twitter_id %></td>
    <td><%= profile.blog_id %></td>
    <td><%= link_to 'Show', profile %></td>
    <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
    <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Profile', new_profile_path %>
