<%= form_for(@dc_member) do |f| %>
  <% if @dc_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dc_member.errors.count, "error") %> prohibited this dc_member from being saved:</h2>

      <ul>
      <% @dc_member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :mid_name %><br />
    <%= f.text_field :mid_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %><br />
    <%= f.date_select :date_of_birth %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :blood_group %><br />
    <%= f.text_field :blood_group %>
  </div>
  <div class="field">
    <%= f.label :local_address %><br />
    <%= f.text_field :local_address %>
  </div>
  <div class="field">
    <%= f.label :permanent_address %><br />
    <%= f.text_field :permanent_address %>
  </div>
  <div class="field">
    <%= f.label :father_name %><br />
    <%= f.text_field :father_name %>
  </div>
  <div class="field">
    <%= f.label :mother_name %><br />
    <%= f.text_field :mother_name %>
  </div>
  <div class="field">
    <%= f.label :guardian_name %><br />
    <%= f.text_field :guardian_name %>
  </div>
  <div class="field">
    <%= f.label :course_name %><br />
    <%= f.text_field :course_name %>
  </div>
  <div class="field">
    <%= f.label :github_link %><br />
    <%= f.text_field :github_link %>
  </div>
  <div class="field">
    <%= f.label :linkedin_link %><br />
    <%= f.text_field :linkedin_link %>
  </div>
  <div class="field">
    <%= f.label :sem_of_joining %><br />
    <%= f.text_field :sem_of_joining %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
