<p id="notice"><%= notice %></p>



<p>
  <b>First name:</b>
  <%= @dc_member.first_name %>
</p>

<p>
  <b>Mid name:</b>
  <%= @dc_member.mid_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @dc_member.last_name %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @dc_member.date_of_birth %>
</p>

<p>
  <b>Gender:</b>
  <%= @dc_member.gender %>
</p>

<p>
  <b>Blood group:</b>
  <%= @dc_member.blood_group %>
</p>

<p>
  <b>Local address:</b>
  <%= @dc_member.local_address %>
</p>

<p>
  <b>Permanent address:</b>
  <%= @dc_member.permanent_address %>
</p>

<p>
  <b>Father name:</b>
  <%= @dc_member.father_name %>
</p>

<p>
  <b>Mother name:</b>
  <%= @dc_member.mother_name %>
</p>

<p>
  <b>Guardian name:</b>
  <%= @dc_member.guardian_name %>
</p>

<p>
  <b>Course name:</b>
  <%= @dc_member.course_name %>
</p>

<p>
  <b>Github link:</b>
  <%= @dc_member.github_link %>
</p>

<p>
  <b>Linkedin link:</b>
  <%= @dc_member.linkedin_link %>
</p>

<p>
  <b>Sem of joining:</b>
  <%= @dc_member.sem_of_joining %>
</p>

<p>
  <b>Email:</b>
  <%= @dc_member.email %>
</p>


<%= link_to 'Edit', edit_dc_member_path(@dc_member) %> |
<%= link_to 'Back', dc_members_path %>
